.form__select {
	.select {
		font-size: 14px;
		margin-bottom: 20px;
	}

	> label {
		display: flex;
		font-weight: 500;
		line-height: 1.6;
		margin-bottom: 10px;

		.title {
			font-size: 14px;
		}

		.required {
			font-size: 14px;
			color: #c10000;
			padding: 0px 5px;
		}
	}
}
