.loading {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 20vh;

	&.full {
		height: 100vh;

		.image {
			max-height: 400px;
		}
	}

	.image {
		width: auto;
		height: auto;
		max-height: 250px;
	}
}
