.item {
	text-align: center;
	border-top: 1px solid var(--grayBorder);

	.product {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: left;
		gap: 20px;
		max-width: 362px;

		> a {
			width: 80%;
			> h1 {
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}
	}

	> td {
		&:nth-child(2) {
			width: 20%;
		}

		.counter {
			display: flex;
			justify-content: center;
			width: 20%;
		}

		&:nth-child(4) {
			width: 20%;
		}
	}
}

@media (max-width: 1200px) {
	.product {
		// max-width: 300px;
	}
}
