.button {
	width: 100%;
	background-color: #31373d;
	color: #fff;
	font-weight: 700;
	padding: 16px 12px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	text-transform: uppercase;

	&:hover {
		background-color: #3e454d;
	}

	&:disabled {
		background: #e0e4f5;
		color: #a2aec3;
		cursor: not-allowed;
	}
}
