.thumbnail {
	display: inline-block;
	position: relative;

	&:hover a img {
		transform: scale(1.05);
	}

	> a img {
		width: 90px;
		height: 87px;
		transition: transform 0.2s var(--transition-cubic);
	}
}
