.item {
	width: 90%;
	margin-bottom: 25px;
	border-radius: 16px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	padding: 20px;

	.preview {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.left {
			display: flex;
			gap: 20px;
			align-items: center;
		}

		.icon {
			color: var(--gray);
			transition: all 0.2s var(--transition-cubic);
		}
	}

	.dropdown {
		display: none;
	}

	&.active {
		.preview {
			.icon {
				transform: rotate(180deg);
			}
		}

		.dropdown {
			display: block;

			padding: 20px 0 20px 14px;
		}
	}
}
