.table {
	text-align: center;
	width: 100%;
<<<<<<< HEAD
	height: 100%;
=======
>>>>>>> 5159a9b674539dc2e2001b7e508ac086cc645379
	border-collapse: collapse;

	.items {
		> tr > td {
			padding: 20px 10px;
		}
	}
}
