.search {
	width: 100%;
	display: flex;
	padding-left: 10px;
	position: relative;

	> .input {
		padding: 0px 15px 0px 20px;
		background: #fff;
		width: 100%;
		height: 40px;
		color: var(--gray);
		border-top-left-radius: 20px;
		border-bottom-left-radius: 20px;
		font-size: 13px;
	}

	> a {
		display: flex;
		align-items: center;
		padding: 0 12px;
		background: #fff;
		border-top-right-radius: 20px;
		border-bottom-right-radius: 20px;
	}
}

.icon {
	color: var(--gray);
}

@media screen and (max-width: 1200px) {
	.search {
		width: 70%;
		margin: 0 10%;
	}
}
