.item {
	border: 1px solid #f1f1f1;
	margin-bottom: 20px;
	border-radius: 4px;
	transition: all 0.3s ease-in-out;

	.preview {
		padding: 20px 30px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.details {
			width: 90%;
			display: flex;
			justify-content: space-between;

			.preview__item {
				width: 20%;
				text-align: left;
			}
		}

		> svg {
			color: var(--gray);
			transition: all 0.2s var(--transition-cubic);
		}
	}

	.dropdown {
		display: none;
		padding: 20px 30px 40px;
	}

	&:hover,
	&.active {
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		border-color: var(--grayBorder);
	}

	&.active {
		.preview {
			> svg {
				transform: rotate(180deg);
			}
		}

		.dropdown {
			display: block;
		}
	}

	animation: fadeIn 0.3s ease-in;

	@keyframes fadeIn {
		from {
			opacity: 0;
			transform: translate3d(0, 10px, 0);
		}
		to {
			opacity: 1;
			transform: none;
		}
	}
}
