.box {
	display: flex;
	flex: 1;
	gap: 30px;
	padding: 40px;
	background: #f4f4f4;

	> svg {
		color: var(--orange);
		font-size: 55px;
	}

	.list {
		> li {
			line-height: 1.6;
			font-size: 15px;
			color: var(--brown);

			> a:hover {
				text-decoration: underline;
			}
		}
	}
}
